.home {
  position: relative;
  padding: 40px 195px 0 200px;
  min-height: 732px;
  background: url("../img/backgroundTop.jpg") no-repeat left;
  background-size: cover;
  color: #ffffff;
  text-align: center;
}

.home::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #2F324BD9;
  opacity: .85;
}

.home-top {
  margin-bottom: 121px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.home-top__phone-text::after {
  position: absolute;
  width: 134px;
  height: 1px;
  background-color: #ffffff;
  content: '';
  left: -3px;
  top: 20px;
}

.home__title {
  min-height: 122px;
  margin-bottom:  31px;
  padding-right: 8px;
  position: relative;
  z-index: 1;
  font-size: 52px;
  font-weight: 900;
  opacity: .86;
}

.home__text {
  max-width: 960px;
  margin: 0 auto 90px;
  padding-right: 4px;
  position: relative;
  z-index: 1;
  font-size: 22px;
  line-height: 31px;
  opacity: .75;
}

.home__link-wrapper {
  padding-right: 7px;
}

.home__link {
  display: inline-block;
  padding: 12px 48px;
  position: relative;
  z-index: 1;
  font-size: 20px;
  font-weight: 500;
  background-color: #15A9CB;
  border-radius: 50px;
  box-shadow: 0 4px 25px 0 #15A9CB4D;
}

@media (max-width: 1024px) {
  .home {
    padding: 26px 30px 0;
    min-height: 528px;
  }

  .home-top {
    margin-bottom: 71px;
  }

  .home-top__phone-text::after {
    width: 106px;
    left: 1px;
    top: 17px;
  }

  .home__title {
    margin: 0 auto;
    padding-right: 0;
    max-width: 780px;
    font-size: 40px;
  }

  .home__text {
    margin-bottom: 56px;
    padding-right: 0;
    max-width: 754px;
    font-size: 18px;
    line-height: 25px;
  }

  .home__link-wrapper {
    padding-right: 2px;
  }

  .home__link {
    padding: 13px 49px 12px;
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .home {
    background-position: left;
  }

  .home-top {
    margin-bottom: 65px;
  }

  .home__title {
    margin-bottom: 50px;
    font-size: 30px;
  }

  .home__text {
    margin-bottom: 54px;
    font-size: 20px;
    line-height: 26px;
  }

}

@media (max-width: 480px) {
  .home {
    padding: 15px 15px 0;
    min-height: 441px;
    text-align: center;
    background-position: -76px 11px;
  }

  .home-top {
    margin-bottom: 66px;
  }

  .home__title {
    min-height: 74px;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .home__text {
    margin-bottom: 53px;
    font-size: 14px;
    line-height: 20px;
  }

  .home__text span {
    display: none;
  }

  .home__link-wrapper {
    padding-right: 0;
  }

  .home__link {
    padding: 10px 38px;
    font-size: 16px;
  }
}
