.home {
  position: relative;
  padding: 35px 200px 0;
  min-height: 732px;
  background: url("../img/backgroundTop.jpg") no-repeat left;
  background-size: cover;
  color: #ffffff;
  text-align: center;
}

.home::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #2F324BD9;
  opacity: .85;
}

.home-top {
  margin-bottom: 126px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.home__title {
  margin-bottom: 35px;
  position: relative;
  z-index: 1;
  font-size: 52px;
  font-weight: 900;
  opacity: .86;
}

.home__text {
  max-width: 960px;
  margin: 0 auto 90px;
  position: relative;
  z-index: 1;
  font-size: 22px;
  line-height: 120%;
  opacity: .75;
}

.home__link {
  display: inline-block;
  padding: 12px 48px;
  position: relative;
  z-index: 1;
  font-size: 20px;
  font-weight: 500;
  background-color: #15A9CB;
  border-radius: 50px;
  box-shadow: 0 4px 25px 0 #15A9CB4D;
}

@media (max-width: 1024px) {
  .home {
    padding: 26px 30px 0;
    min-height: 528px;
  }

  .home-top {
    margin-bottom: 70px;
  }

  .home__title {
    margin: 0 auto 28px;
    max-width: 780px;
    font-size: 40px;
  }

  .home__text {
    margin-bottom: 61px;
    max-width: 754px;
    font-size: 18px;
    line-height: 25px;
  }

  .home__link {
    padding: 11px 49px;
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .home {
    background-position: left;
  }

  .home-top {
    margin-bottom: 65px;
  }

  .home__title {
    margin-bottom: 50px;
    font-size: 30px;
  }

  .home__text {
    margin-bottom: 54px;
    font-size: 20px;
    line-height: 26px;
  }

}

@media (max-width: 480px) {
  .home {
    padding: 15px 15px 0;
    min-height: 441px;
    text-align: center;
    background-position: -80px 0;
  }

  .home-top {
    margin-bottom: 65px;
  }

  .home__title {
    margin-bottom: 23px;
    font-size: 20px;
  }

  .home__text {
    margin-bottom: 54px;
    font-size: 14px;
    line-height: 20px;
  }

  .home__text span {
    display: none;
  }

  .home__link {
    padding: 9px 29px;
    font-size: 16px;
  }
}
