@media (max-width: 320px) {
  .slider__list {
    margin: 0 auto;
    position: relative;
    max-width: 250px;
    min-height: 182px;
    overflow: hidden;
  }

  .slider__item {
    width: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    transition: transform 1s ease-in 0.1s
  }


  .slider__item-img {
    width: 104px;
    height: 104px;
  }

  .slider__arrow {
    border: none;
  }

  .slider__arrow--left {
    display: inline-block;
    position: absolute;
    content: "";
    width: 38px;
    height: 38px;
    left: 15px;
    top: 50%;
    background: url("../img/left.png") no-repeat center;
    background-size: cover;
  }

  .slider__arrow--right {
    display: inline-block;
    position: absolute;
    content: "";
    width: 38px;
    height: 38px;
    right: 15px;
    top: 50%;
    background: url("../img/right.png") no-repeat center;
    background-size: cover;
  }

  .slider__arrow--no-active {
    display: none;
  }

  .advantages__item-text {
    opacity: 0;
  }

  .advantages__item-text--active {
    opacity: 1;
  }
}
